In [2]:
import pandas as pd

In [3]:
missing = pd.read_csv('df_missing.csv')

In [4]:
missing.head()

    A     B     C      D   E
0  15  96.0  74.0   31.0  50
1  41  27.0  74.0  279.0  57
2  21  32.0   NaN   99.0  96
3  48  97.0  50.0    NaN  69
4  63  98.0  74.0   44.0  55

In [5]:
missing.describe().transpose()

   count       mean        std   min    25%   50%    75%    max
A   10.0  51.100000  25.971993  15.0  39.50  45.5  61.75   98.0
B    9.0  58.222222  36.802778  11.0  31.00  38.0  96.00   98.0
C    8.0  61.125000  23.080217  19.0  46.75  74.0  75.50   81.0
D    9.0  81.222222  78.175728  20.0  43.00  65.0  76.00  279.0
E   10.0  58.400000  21.909917  32.0  43.25  56.0  66.75   96.0

In [ ]:
# missing-dropna() - deletion

In [ ]:
# missing.dropna(axis = 1 , how = 'any')

In [ ]:
# missing.fillna(0)

In [6]:
missing.fillna(missing.mean())

    A          B       C           D   E
0  15  96.000000  74.000   31.000000  50
1  41  27.000000  74.000  279.000000  57
2  21  32.000000  61.125   99.000000  96
3  48  97.000000  50.000   81.222222  69
4  63  98.000000  74.000   44.000000  55
5  43  11.000000  80.000   74.000000  33
6  39  38.000000  81.000   20.000000  41
7  58  31.000000  61.125   76.000000  91
8  85  94.000000  37.000   65.000000  60
9  98  58.222222  19.000   43.000000  32

In [7]:
# scikit-learn

In [16]:
from sklearn.preprocessing import Imputer

In [17]:
imp = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)

/home/mohameddounnani/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [19]:
imp = imp.fit(missing.iloc[:, 1:4])

In [21]:
missing.iloc[:, 1:4] = imp.transform(missing.iloc[:, 1:4])

In [22]:
print(missing)

    A          B       C           D   E
0  15  96.000000  74.000   31.000000  50
1  41  27.000000  74.000  279.000000  57
2  21  32.000000  61.125   99.000000  96
3  48  97.000000  50.000   81.222222  69
4  63  98.000000  74.000   44.000000  55
5  43  11.000000  80.000   74.000000  33
6  39  38.000000  81.000   20.000000  41
7  58  31.000000  61.125   76.000000  91
8  85  94.000000  37.000   65.000000  60
9  98  58.222222  19.000   43.000000  32

In [23]:
import numpy as np

In [ ]:
import matplotlib